{{extends file="inc/base.html"}}

{{block body}}
<div class="frame">
    <div class="title">菜单管理 <button class="btn btn-primary pull-right" id="addMenu">添加菜单</button></div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form onsubmit="return false" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="menu_name" id="menu_name" class="form-control col-md-12">
                                <option value="">请选择菜单名</option>
                                {{foreach $menu as $item}}
                                <option value="{{$item['id']}}" {{if $item['id'] == $info['mid']}}selected{{/if}}>{{$item['name']}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select name="menu_controller" id="menu_controller" class="form-control">
                                <option value="">请选择controller</option>
                                {{foreach $list as $key => $item}}
                                <option value="{{$item['controller']}}" {{if $item.controller == $info['controller']}}selected{{/if}}>{{$item['controller']}}-{{$item['controller_name']}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select name="menu_action" id="menu_action" class="form-control">
                                <option value="">请选择action</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="number" id="order" class="form-control" placeholder="排序" value="{{$info.order|default:0}}">
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="name" class="form-control" placeholder="自定义名称" value="{{$info.name|default:''}}">
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" id="id" class="form-control" value="{{$info.id|default:0}}">
                            <button class="btn btn-primary" id="save">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <table class="table table-bordered" id="table">
            <thead>
            <tr>
                <th>菜单名称</th>
                <th>控制器</th>
                <th>顺序</th>
                <th>操作</th>
            </tr>
            </thead>
            {{foreach $menu_list as $item}}
            <tr style="background: #f5f5f5;">
                <td><b>{{$item.name}}</b></td>
                <td></td>
                <td>{{$item.order}}</td>
                <td>
                    <a href="javascript:;" data-id="{{$item.id}}" data-name="{{$item.name}}" data-order="{{$item.order}}" class="edit-menu">修改</a> |
                    <a href="javascript:;" data-id="{{$item.id}}" class="del-menu">删除</a>
                </td>
            </tr>
            {{if $item.child}}
            {{foreach $item.child as $key => $value}}
            <tr>
                <td class="text-right">{{$value.name}}</td>
                <td>{{$value.controller}}::{{$value.action}}</td>
                <td>{{$value.order}}</td>
                <td>
                    <a href="{{APP_ADMIN_HOST}}/menu/index?id={{$value.id}}" >修改</a> |
                    <a href="javascript:;" data-id="{{$value.id}}" class="del-menu-child">删除</a>
                </td>
            </tr>
            {{/foreach}}
            {{/if}}
            {{/foreach}}
        </table>
    </div>
</div>


<div class="modal fade" id="addMenuDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">菜单信息</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div class="form-group">
                        <label>名称</label>
                        <input type="hidden" id="add_id" class="form-control">
                        <input type="text" id="add_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input type="number" id="add_order" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addSave">保存</button>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{block "script"}}
<script>
    var list_json = {{$list_json}};
    $(function () {


        $('#menu_controller').change(function () {
            var menu_controller  = $(this).val();
            if(!menu_controller){
                return false;
            }
            var action_str = '<option value="">请选择action</option>';
            $.each(list_json[menu_controller]['method'], function (i, e) {
                action_str += '<option value="'+e.action+'">'+e.action+'-'+e.action_name+'</option>';
            });
            $('#menu_action').html(action_str);
        }).trigger('change');

        {{if $info}}
        $('#menu_action').val('{{$info.action}}');
        {{/if}}

        $('#menu_action').change(function () {
            var action_name = $('#menu_action>option:selected').text().split('-')[1];
            $('#name').val(action_name);
        });


        $('#save').click(function () {
            var menu_name = $('#menu_name').val();
            var menu_controller = $('#menu_controller').val();
            var menu_action = $('#menu_action').val();
            var order = $('#order').val();
            var name = $('#name').val();
            var id = $('#id').val();
            if(!menu_name){
                layer.msg('请选择菜单');
                return false;
            }
            if(!menu_name){
                layer.msg('请选择controller');
                return false;
            }
            if(!menu_name){
                layer.msg('请选择action');
                return false;
            }
            if(!menu_name){
                layer.msg('请输入顺序号');
                return false;
            }
            if(!menu_name){
                layer.msg('请输入子菜单名称');
                return false;
            }

            ajax('post', '{{APP_ADMIN_HOST}}/menu/saveChildMenu',{id:id, mid:menu_name,controller:menu_controller,action:menu_action,order:order,name:name},function (data) {
                layer.msg(data.msg);
                if(data.code !== 2000000){
                    return false;
                }
                reload();
            })

        });


        $('#addMenu').click(function () {
            $('#add_id').val(0);
            $('#add_name').val('');
            $('#add_order').val(0);

            $('#addMenuDialog').modal('show')
        });
        
        $('#addSave').click(function () {
            var add_id = $('#add_id').val();
            var add_name = $('#add_name').val();
            var add_order = $('#add_order').val();
            ajax('post','{{APP_ADMIN_HOST}}/menu/saveMenu',{id:add_id, name:add_name, order:add_order}, function (data) {
                layer.msg(data.msg);
                if(data.code !== 2000000){
                    return false;
                }
                reload();
            })
        });


        /*修改*/
        $('.edit-menu').click(function () {
            var id = $(this).data('id');
            var name = $(this).data('name');
            var order = $(this).data('order');

            $('#add_id').val(id);
            $('#add_name').val(name);
            $('#add_order').val(order);
            $('#addMenuDialog').modal('show');
        });

        /*删除*/
        $('.del-menu').click(function () {
            if(confirm('确定要删除吗？')) {
                var id = $(this).data('id');
                ajax('post', '{{APP_ADMIN_HOST}}/menu/del', {id: id}, function (data) {
                    layer.msg(data.msg);
                    if(data.code !== 2000000){
                        return false;
                    }
                    reload();
                })
            }
        });
        
        $('.del-menu-child').click(function () {
            if(confirm('确定要删除吗？')) {
                var id = $(this).data('id');
                ajax('post', '{{APP_ADMIN_HOST}}/menu/delChild', {id: id}, function (data) {
                    layer.msg(data.msg);
                    if(data.code !== 2000000){
                        return false;
                    }
                    reload();
                })
            }
        });
    });
</script>
{{/block}}