{{extends file="inc/base.html"}}

{{block body}}
<div class="frame">
    <div class="title">全部权限</div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form onsubmit="return false" class="form-horizontal">
                    <table class="table table-bordered table-hover" id="table">
                        <thead>
                            <tr>
                                <th>控制器</th>
                                <th>方法</th>
                                <th>uri</th>
                                <th><input type="checkbox" id="auth" value=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{foreach $action_list as $action}}
                            <tr>
                                <td rowspan="{{$action['controller']['method_num']}}" style="vertical-align: middle;">{{$action['controller']['controller_name']}}</td>
                            </tr>
                            {{foreach $action['method'] as $method}}
                            <tr>
                                <td>{{$method['action_name']}}</td>
                                <td>{{$method['uri']}}</td>
                                <td><input type="checkbox" name="auth" class="auth" {{if in_array($method['uri'], $all_acl)}}checked{{/if}} value="{{$method['uri']}}"></td>
                            </tr>
                            {{/foreach}}
                            </tr>
                            {{/foreach}}
                        </tbody>
                    </table>
                    <div class="row text-center">
                       <button class="btn btn-primary" id="save">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "script"}}
<script>
    $(function () {
        $('#auth').click(function () {
            let checked = $(this).is(':checked');
            $('.auth').prop('checked', checked);
        });

        $('.auth').click(function () {
            if($('.auth').length === $('.auth:checked').length){
                $('#auth').prop('checked', true);
            }else{
                $('#auth').prop('checked', false);
            }
        });
        
        $('#save').click(function () {
            let data = {};
            data.uri = $('.auth:checked').map(function(){return $(this).val(); }).get().join(",");
            data.role_id = {{$role_id}};
            data.user_id = {{$user_id}};

            console.log(data);
            ajax('post', '{{APP_ADMIN_HOST}}/acl/save', data, function (data) {
                layer.msg(data.msg);
                if(data.code !== 2000000){
                    return false;
                }
                reload();
            })
        });
    });
</script>
{{/block}}