<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="{{APP_STATIC_HOST}}/css/admin.css">
    <link rel="stylesheet" href="{{APP_STATIC_HOST}}/lib/dataTable/dataTables.bootstrap.min.css">
    <link rel=icon type="image/png" href="/favicon.png">
    {{block "head"}}{{/block}}
    <!--[if lt IE 9]>
    <script src="{{APP_STATIC_HOST}}/lib/html5shiv.min.js"></script>
    <script src="{{APP_STATIC_HOST}}/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{block "body"}}{{/block}}
<script src="{{APP_STATIC_HOST}}/lib/jquery.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/bootstrap.min.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/jquery.slimscroll.min.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/layer/layer.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/laydate/laydate.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/dataTable/jquery.dataTables.min.js"></script>
<script src="{{APP_STATIC_HOST}}/lib/dataTable/dataTables.bootstrap.min.js"></script>
<script src="{{APP_STATIC_HOST}}/js/common.js"></script>
{{block "script"}}{{/block}}
</body>
</html>