{{extends file="inc/base.html"}}

{{block body}}
<div class="frame">
    <div class="title">管理员管理 <button class="btn btn-primary pull-right" id="addUser">添加管理员</button></div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered" id="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>角色</th>
                        <th>账号</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{foreach $user_list as $user}}
                    <tr>
                        <td>{{$user.id}}</td>
                        <td>{{$user.nickname}}</td>
                        <td>{{$rid_name[$user.rid]}}</td>
                        <td>{{$user.email}}</td>
                        <td>{{$user.phone}}</td>
                        <td>
                            <span class="label label-{{if $user.status==1}}success{{else}}danger{{/if}}">
                                {{$user.status_name}}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:;" class="edit" data-id="{{$user.id}}">修改</a>
                            <a href="{{APP_ADMIN_HOST}}/acl/index?user_id={{$user.id}}" data-id="{{$user.id}}">权限</a>
                        </td>
                    </tr>
                    {{/foreach}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addUserDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户信息</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" class="form-horizontal" id="addUserForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">账号</label>
                        <input type="hidden" id="add_id" class="form-control">
                        <div class="col-sm-10">
                            <input type="text" id="add_email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_nickname" name="nickname" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_phone" name="phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分组</label>
                        <div class="col-sm-10">
                            <select name="role" id="add_role" class="form-control">
                                {{foreach $role_list as $role}}
                                <option value="{{$role.id}}">{{$role.name}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <label class="col-sm-2 control-label" style="text-align: left">
                            <input type="radio" name="status" class="add_status" value="1" checked> 启用
                        </label>
                        <label class="col-sm-2 control-label" style="text-align: left">
                            <input type="radio" name="status" class="add_status" value="2"> 禁用
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addSave">保存</button>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{block "script"}}
<script>
    $(function () {
        showDataTable('#table');

        $('#addUser').click(function () {
            $('#add_id').val('');
            $('#add_password').attr('readonly', false);
            $('#add_email').val('');
            $('#add_nickname').val('');
            $('#add_phone').val('');
            $('.add_status[value="1"]').attr('checked', true);
            $('#addUserDialog').modal('show');
        });

        $('#addSave').click(function () {
            let data = {};
            data.id = $.trim($('#add_id').val());
            data.email = $.trim($('#add_email').val());
            data.password = $.trim($('#add_password').val());
            data.nickname = $.trim($('#add_nickname').val());
            data.phone = $.trim($('#add_phone').val());
            data.role = $.trim($('#add_role').val());
            data.status = $.trim($('.add_status:checked').val());

            ajax('post', '{{APP_ADMIN_HOST}}/user/save', data, function (data) {
                layer.msg(data.msg);
                if(data.code !== 2000000){
                    return false;
                }
                reload();
            });
        });
        
        $('.edit').click(function () {
            let id = $(this).data('id');
            ajax('post', '{{APP_ADMIN_HOST}}/user/detail', {id:id}, function (data) {
                if(data.code !== 2000000){
                    layer.msg(data.msg);
                    return false;
                }
                console.log(data);
                let user_info = data.data.user_info;
                $('#add_password').attr('readonly', true);
                $('#add_id').val(user_info.id);
                $('#add_email').val(user_info.email);
                $('#add_nickname').val(user_info.nickname);
                $('#add_phone').val(user_info.phone);
                $('#add_role').val(user_info.rid);
                $('.add_status[value="'+user_info.status+'"]').attr('checked', true);
                $('#addUserDialog').modal('show');
            });
        });
        
    });
</script>
{{/block}}