<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="{{APP_STATIC_HOST}}/admin/css/style.css">
    <link rel=icon type="image/png" href="/favicon.png">
    <title>后台管理</title>
</head>

<body style="background: #f7fafc">
<style>
    .input-lg{font-size: 14px;border: 1px solid #ece8e8;}
    .input-lg:hover,.input-lg:active,.input-lg:focus,.input-lg:focus-within{border: 1px solid #cacaca;}
    .login{box-shadow: 0 0 3px #ccc;border-radius: 3px;}
    #submit{background-color: #2B90DE;border-color: #2B90DE;}
    #submit:hover,#submit:active,#submit:focus,#submit:focus-within{background-color: #2080cc;border-color: #2080cc;}
</style>

<div style="margin: 100px auto 0; width: 400px;">
    <h2 class="text-center" style="margin-bottom: 25px;">{{APP_NAME}}后台管理</h2>
    <div class="panel panel-primary" style="border:none;">
        <div class="panel-heading" style="display:none;border-top-left-radius: 3px; border-top-right-radius: 3px;">{{APP_NAME}} - 后台登录</div>
        <div class="panel-body login">
            <form action="" class="form-horizontal" onsubmit="return false;">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="账号" autocomplete="off" name="username" id="username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control input-lg" placeholder="密码" autocomplete="off" name="password" id="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="验证码" name="verify_code" id="verify_code" style="width: 60%;float: left" required>
                        <img src="{{APP_ADMIN_HOST}}/login/captcha"  style="width: 35%;height:46px;float: right;cursor: pointer;" id="code-img">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg col-md-12 col-xs-12" id="submit" >登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center">&copy;2019 U7C</div>
<script src="{{APP_STATIC_HOST}}/admin/lib/jquery.js"></script>
<script src="{{APP_STATIC_HOST}}/admin/js/common.js"></script>
<script>

    $('#submit').click(function () {
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        var verify_code = $.trim($('#verify_code').val());
        $.trim($('#verify_code').val());
        if (!username) {
            alert('请输入账号');
            $('#username').focus();
            return false;
        }
        if (!password) {
            alert('请输入密码');
            $('#password').focus();
            return false;
        }
        if (!verify_code) {
            alert('请输入验证码');
            $('#verify_code').focus();
            return false;
        }
        ajax('post', '{{APP_ADMIN_HOST}}/login/doLogin', {
            username: username,
            password: password,
            verify_code: verify_code
        }, function (data) {
            if (data.code != 2000000) {
                alert(data.msg);
                return false;
            } else {
                location.href = '{{APP_ADMIN_HOST}}/index/index';
            }
        });
    });

    /*切验证码*/
    $('#code-img').click(function () {
        var obj = $(this);
        obj.attr('src', "{{APP_ADMIN_HOST}}/login/captcha?" + Math.random());
    });

    $(document).keydown(function (event) {
        if (event.keyCode == 13) {
            $('#submit').trigger('click');
        }
    });

</script>
</body>
</html>
