{{extends file="inc/base.html"}}

{{block body}}
<div class="frame">
    <div class="title">管理人员分组 <button class="btn btn-primary pull-right" id="addGroup">添加分组</button></div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered" id="table">

                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addGroupDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">分组信息</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <input type="hidden" id="add_id" class="form-control">
                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" id="add_name" class="form-control">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>状态：</label>
                        <label><input type="radio" class="add_status" name="add_status" value="1"> 开启</label>
                        <label><input type="radio" class="add_status" name="add_status" value="2"> 关闭</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveGroup">保存</button>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{block "script"}}
<script>
    $(function () {
        showDataTable('#table','{{APP_ADMIN_HOST}}/role/index',[
            { title:"ID","data": "id", "width": "25%"},
            { title:"名称","data": "name", "width": "25%" },
            // { title:"状态","data": "status_name", "width": "25%" },
            { title:"操作","data": "id", render: function (id) {
                    let html = '<a href="javascript:;" class="editGroup" data-id="'+id+'">修改</a>';
                    html += '  <a href="{{APP_ADMIN_HOST}}/acl/index?role_id='+id+'">权限</a>';

                    return html;
                }, "width": "20%"
            }
        ]);

        $(document).on('click', '#addGroup', function () {
            $('.add_status[value="1"]').attr('checked', true);
            $('#addGroupDialog').modal('show');
        });

        $(document).on('click', '.editGroup', function () {
            let id = $(this).data('id');
            ajax('post', '{{APP_ADMIN_HOST}}/role/detail', {id:id}, function (data) {
                if(data.code !== 2000000){
                    layer.msg(data.msg);
                    return false;
                }
                $('#add_id').val(data.data.id);
                $('#add_name').val(data.data.name);
                $('.add_status[value="'+data.data.status+'"]').attr('checked', true);
                $('#addGroupDialog').modal('show');
            });
        });

        $(document).on('click', '#saveGroup', function () {
            let data = {
                'id' : $('#add_id').val(),
                'name' : $('#add_name').val(),
                'status' : $('.add_status:checked').val(),
            };
            ajax('post', '{{APP_ADMIN_HOST}}/role/save', data, function (data) {
                layer.msg(data.msg);
                if(data.code !== 2000000){
                    return false;
                }
                reload();
            });
        });




    });
</script>
{{/block}}